.catContent{
  width: 478px;
  height: 341px;
  border: 1px solid black;
  border-radius: 36px;
  position: relative;
  background-color: white;
  box-shadow: 2px 5px 18px #000000
}
.catImage{
  /* border:1px solid black; */
  /* position: absolute; */
  width: 250px;
  height: 250px;
  margin-bottom: 20%;
  /* top: -108px;
  left: -25px; */
}
.heading{
  text-transform: uppercase;
  font-size: 30px;
  font-weight:700;
}
.catText{
  /* position: absolute;
  margin-top: 54%;
  margin-bottom: 12%; */
  padding: 10px 20px 0 10px;
  font-size:20px;
  
}
.catText h1{
  font-size:18px;
}
.btnOutline{
  border-radius: 25px;
  background-color:#e48022 ;
  color:white;
  border-color: #f0c195;
  margin-top: 71%;
    margin-left: 65%;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 5px #000000;
}
.categoryBox{
  position: absolute;
  margin-top: 5%;
}
.btnOutline:focus{
  background-color: #f0c195;
  border-color: #f0c195;
  color: #e62740;
}.btnOutline:hover{
  background-color: #f0c195;
  border-color: #f0c195;
  color: #e62740;
}
@media (min-width: 576px) and (max-width: 767.98px) { 
  .thumbnailImg{
  width: 35%;
  }

  h3{
      font-size: 1rem;
  }

   }



@media (max-width: 575.98px) { 
  .thumbnailImg{
  width: 30%;
  }

  h3{
      font-size: 1rem;
  }
}